# files generated during the lubuild process
generated/

# prevent appsettings.json get checked in
Sally/Sally/settings/appsettings.json
Sally/Sally/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/onnxruntime.pdb
Sally/Sally/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/onnxruntime.pdb
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.dll
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.exe
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.pdb
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.runtimeconfig.dev.json
Sally/Sally/bin/Debug/netcoreapp3.1/settings/appsettings.json
Sally/Sally/obj/Debug/netcoreapp3.1/apphost.exe
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.assets.cache
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.csproj.AssemblyReference.cache
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.csproj.CoreCompileInputs.cache
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.csproj.FileListAbsolute.txt
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.dll
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.GeneratedMSBuildEditorConfig.editorconfig
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.genruntimeconfig.cache
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.pdb
Sally/Sally/obj/project.assets.json
Sally/Sally/obj/project.nuget.cache
Sally/Sally/obj/Sally.csproj.nuget.dgspec.json
Sally/Sally/obj/Sally.csproj.nuget.g.props
Sally/Sally/Sally.botproj
Sally/Sally/settings/appsettings.json
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.dll
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.exe
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.pdb
Sally/Sally/bin/Debug/netcoreapp3.1/Sally.runtimeconfig.dev.json
Sally/Sally/bin/Debug/netcoreapp3.1/settings/appsettings.json
Sally/Sally/obj/Debug/netcoreapp3.1/apphost.exe
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.assets.cache
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.csproj.CoreCompileInputs.cache
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.dll
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.GeneratedMSBuildEditorConfig.editorconfig
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.genruntimeconfig.cache
Sally/Sally/obj/Debug/netcoreapp3.1/Sally.pdb
Sally/Sally/obj/project.assets.json
Sally/Sally/obj/project.nuget.cache
Sally/Sally/obj/Sally.csproj.nuget.dgspec.json
Sally/Sally/obj/Sally.csproj.nuget.g.props
Sally/Sally/settings/appsettings.json
Sally/Sally/bin/release/publishTarget/onnxruntime.pdb
Sally/Sally/bin/release/netcoreapp3.1/win-x64/onnxruntime.pdb
